aiohttp==3.7.4.post0
aiosqlite==0.16.1
anyio==3.5.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==20.3.0
Authlib==0.15.3
bcrypt==3.2.0
blessings==1.7
bpython==0.21
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
curtsies==0.3.5
cwcwidth==0.1.4
ecdsa==0.14.1
fastapi==0.75.0
greenlet==1.0.0
h11==0.10.0
httpcore==0.13.2
httptools==0.1.2
httpx==0.18.1
idna==2.10
iso8601==0.1.14
itsdangerous==1.1.0
jsonpatch==1.32
jsonpointer==2.1
loginpass==0.5
multidict==5.1.0
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.20
pydantic==1.9.0
Pygments==2.8.1
PyPika==0.48.1
pypika-tortoise==0.1.0
python-dotenv==0.13.0
python-jose==3.2.0
python-multipart==0.0.5
pytz==2020.5
pyxdg==0.27
PyYAML==5.4.1
requests==2.25.1
rfc3986==1.4.0
rsa==4.7.2
six==1.15.0
sniffio==1.2.0
sse-starlette==0.6.2
starlette==0.17.1
tortoise-orm==0.17.2
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.17.6
uvloop==0.15.2
watchgod==0.6
websockets==8.1
yarl==1.6.3
